

button {
    display: block;
    margin: 0 auto;
    width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}


label {
    display: block;
    width: $inputW;
    margin: 25px auto 0;

span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}
}

input {
    display: block;

    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}


.blankpage-main {
    padding: 2em 2em;
    background: #fff;
    margin-top:4em;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}
.blankpage-main p {
    font-size: 1.1em;
    color: #000;
    line-height: 1.8em;
}
.work-progres {
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
    padding: 1.34em 1em;
    background: #fff;
}
.chit-chat-heading {
    font-size: 1.2em;
    font-weight: 700;
    color: #5F5D5D;
    text-transform: uppercase;
    font-family: 'Carrois Gothic', sans-serif;
}
.portlet-grid {
    padding: 0px;
    width: 32%;
    float: left;
    margin: 0% 1% 3% 0%;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius:4px;
    -o-border-radius:4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
    padding: 25px;
    font-size: 1em;
}
.portlet-grid-page h2 {
    font-size: 2em;
    color:#68AE00;
    margin-bottom: 1em;
    font-family: 'Carrois Gothic', sans-serif;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    line-height:1.6;
}


.formm{
    position: relative;
    left: 290px;
}
.uiContentBox {
    padding: 0;

    font-size: 18px;
    font-weight: normal;
    margin-left: 4px;

}

.st{
    width: 560px;
    position: relative;
    top: auto;
    left: auto;
    margin: 0 auto 20px;
    z-index: 1;
    max-width: 100%;
}
.button{
    background:cornflowerblue;
    padding:1em 3em;
    color:#fff;
    border:0;
    position: relative;
    left: 25px;
    top: 12px;
}

.button:hover{
    background:#333;
}

.modall{
    display:none;
    position: fixed;
    z-index:1;
    top:0;
    right: 60px;
    height: 100%;
    width:100%;
    left: 40px;
    overflow: auto;
}

.modal-contentt{
    background-color:#ffffff;
    margin: 5% auto;
    width:40%;
    animation-name:modalopen;
    animation-duration:1s;
}

.modal-headerr h2, .modal-footer h3{
    margin:0;
}

.modal-headerr{
    background:white;
    padding:15px;
    color:#fff;
}

.modal-bodyy{
    padding:10px 20px;

}

.modal-footerr{
    background:cornflowerblue;
    padding:10px;
    color:#fff;
    text-align: center;
}

.closeBtn{
    position: relative;
    top: -18px;
    color:#1b1b1b;
    float: right;
    font-size:45px;

}

.closeBtn:hover,.closeBtn:focus{
    color:#000;
    text-decoration: none;
    cursor:pointer;
}

@keyframes modalopen{
    from{ opacity: 0}
    to {opacity: 1}
}

/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Content */
.content {
    padding-top: 30px;
}

/* Testimonials */
.testimonials blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}
.testimonials blockquote::before {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-bottom: 20px solid #fff;
    border-right: 0 solid transparent;
    border-left: 15px solid transparent;
    border-left-style: inset; /*FF fixes*/
    border-bottom-style: inset; /*FF fixes*/
}
.testimonials blockquote::after {
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    content: " ";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0;
    border-color: #e63f0c transparent transparent transparent;
}
.testimonials .carousel-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}
.testimonials span.testimonials-post {
    color: #656565;
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #03658c;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
    background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
    margin: 60px auto 15px;
    width: 768px;
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400;
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700;
}

.comments-list {
    margin-top: 30px;
    position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/

/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
}



.comment-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-width: 10px 12px 10px 0;
    border-style: solid;
    border-color: transparent #FCFCFC;
    top: 8px;
    left: -11px;
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0,0,0,0.05);
    left: -12px;
}

.reply-list .comment-box {
    width: 610px;
}
.comment-box .comment-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #A6A6A6;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
    color: #03658c;
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

.comment-box .comment-name a {
    color: #283035;
}

.comment-box .comment-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 12px;
}

.comment-box .comment-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.box-btn {
    float: left;
    background: transparent;
    font-size: 25px;
    color: #4D4E56;
    font-weight: 300;
    cursor: pointer;
    border-radius: 2px;
    line-height: 0.5;
    border: none;
    outline: none;
}
.uiIconStar {
    transition: color .3s linear;
}
.box-btn .reeed {
    color: yellow;
}



.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
    content: 'author';
    background: #03658c;
    color: #FFF;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
    .comments-container {
        width: 480px;
    }

    .comments-list .comment-box {
        width: 390px;
    }

    .reply-list .comment-box {
        width: 320px;
    }
}













/*##################################################################################*/



body {
    font-family: 'Open Sans Light', sans-serif;
    font-size: 14px;
    color: #989c9e;
}

a {
    color: #363838;
}
a:hover {
    color: #989c9e;
}

/*-----------------------------------------------------------------*/
/*--- Footer ---*/

footer {
    height: 69px;
    line-height: 69px;
    color: #363838;
}

footer .logo {
    line-height: normal;
}


ul.socialicons li {
    display: inline-block;
    list-style: none;
    font-size: 18px;
    color:#bdc3c7;
    margin-left: 15px;
}

ul.socialicons li a {
    color:#bdc3c7;
}

ul.socialicons li a:hover {
    color:#363838;

}


/*-----------------------------------------------------------------*/
/*--- Header ---*/
.headernav {
    height: 70px;
    border-bottom: 1px solid #c9cccd;
}


.content {
    background-color: #ecf0f1;
    border-top: solid 1px #e0e4e5;
}

.selecttopic {
    line-height: 69px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 16px;
    color: #363838;
}

.selecttopic select {
    border: none;
}

.selecttopic .dropdown-menu {
    margin-top: -20px;
}

.headernav .search {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    margin-top: 16px;
    height: 38px
}

.headernav .search  .wrap {
    background-color: #f3f5f9;
    border-radius: 3px;
}

.headernav .search .txt {
    width: 85%;
}

.headernav .search input {
    border: none;
    box-shadow: none;
    background-color: #f3f5f9;
    color: #363838;
    font-size: 14px;
    padding: 8px 19px;
    height: 38px;

}


.headernav .search button {
    border: solid 1px #697683;
    box-shadow: none;
    background-color: #697683;
    color: #ffffff;
    font-size: 18px;
}

/*--- Avatar ---*/
.avt {
    margin-top: 16px;
    height: 38px;
}

.avt button {
    height: 38px;
    border: none;
    box-shadow: none;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #1abc9c;
}

.avt .btn-primary:hover,
.avt .btn-primary:focus,
.avt .btn-primary:active,
.avt .btn-primary.active{
    background-color: #1abc9c;


    border: none;
    box-shadow: none;

}

.env {
    font-size: 18px;
    color:#cfd5d7;
    line-height: 38px;
    padding: 0 20px;
}

.avatar {
    position: relative;
}

.avatar img {
    border-radius: 50%;
}

.avatar .status {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    line-height: 12px;
    border-radius: 50%;
    border: solid 2px #ffffff;
}

.dropdown.avatar .status {
    right: 14px;
}
.caretl {
    color:#363838;
    font-size: 14px;
    line-height: 38px;
    padding: 0 15px;
}


.avatar .green {
    background-color: #80d3ab;
}

.avatar .red {
    background-color: #f27777;
}

.avatar .yellow {
    background-color: #ecd346;
}



/*-----------------------------------------------------------------*/
/*--- Content ---*/

/*--- Pagination ---*/
.paginationforum li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.paginationforum li a {
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    font-family: 'Open Sans Semibold', sans-serif;
    color: #ffffff;
    background-color: #cfd5d7;
    border-radius: 2px;
    display: block;
    padding: 0 8px;
    line-height: 24px;
}

.paginationforum li a.active,
.paginationforum li a:hover,
.paginationforum li a:focus,
.paginationforum li a:active {
    color: #363838;
    background-color: #ffffff;
    box-shadow: 0 1px 2px #c9cccd;
    font-family: 'Open Sans Bold', sans-serif;
    text-decoration: none;

}



.paginationforum {
    margin: 19px auto;
    padding: 0;
}

.prevnext {
    font-size: 26px;
    color: #cfd5d7;
    margin-top: 11px;
    display: block;
}

.prevnext.last {
    margin-left: 20px;
}


/*--- Sidebar ---*/

.sidebarblock {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
}

.sidebarblock h3 {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    margin: 0;
    padding: 20px;


}

.sidebarblock .divline {
    height: 1px;
    line-height: 1px;
    border-bottom: solid 1px #f1f1f1;
}

.sidebarblock .blocktxt {
    padding:20px;
}

ul.cats li {
    list-style: none;
    display: block;
    margin:0;
    padding:13px;
    line-height: 30px;
}

ul.cats {
    margin: 0;
    padding: 0;
}

ul.cats li a {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 30px;
}

ul.cats .badge {
    background-color: #bdc3c7;
    font-size: 12px;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    margin-top: 7px;
}


.sidebarblock .blocktxt {

    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;

}


.sidebarblock .blocktxt .smal {
    font-size: 12px;
}

.chbox {
    width: 50px;
}

table.poll {
    width: 100%;
}

.progress-bar.color1 {
    background-color: #9b59b6;
}

.progress-bar.color2 {
    background-color: #3498db;
}

.progress-bar.color3 {
    background-color: #e67e22;
}

.progress-bar {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans Bold', sans-serif;
    line-height: 31px;
    text-align: left;
    padding-left: 10px;
    box-shadow: none;
}


.progress {
    background-color: #ecf0f1;
    height: 31px;
    border-radius: 2px;
    box-shadow: none;
}



.poll label {
    margin-bottom: 0;
    margin-left: 20px;
}

.poll input[type="radio"] {
    display:none;
}

.poll input[type="radio"] + label {
    display:inline-block;
    width:31px;
    height:31px;
    background: url(../images/radio.jpg) 0 0 no-repeat;
    vertical-align:middle;
    cursor:pointer;
}

.poll input[type="radio"]:checked + label {
    background: url(../images/radio.jpg) -31px 0 no-repeat;
}

td.chbox {
    vertical-align: top;
}


/*--- Post --*/
.post {
    background-color: #ffffff;
    width: 65%;
    margin-right : 182px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 0px 4px 2px #c9cccd;
    margin-bottom: 80px;
}

.post .wrap-ut {
    width: 85%;
}

.post .userinfo {
    width: 15%;
    padding: 35px 0 15px 15px;
}

.post .posttext {
    width: 85%;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;

    color: #989c9e;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 25px;
}

.post .postinfo {
    width: 15%;
    border-left: solid 1px #f1f1f1;
    position: relative;
    top: 132px;

}

.post .avatar {
    width: 57px;
    margin-left: 5px;
}

.post .icons {
    width: 48px;
    border-top: solid 1px #f1f1f1;
    margin-top: 12px;
    padding-top: 7px;
}

.post h2 {
    color: #363838;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post .comments {
    border-bottom: solid 1px #f1f1f1;
    padding: 18px 0 25px 0;
    text-align: center;
}


.post .comments .commentbg {
    background-color: #2c8406;
    border-radius: 2px;
    display: inline-block;
    padding: 12px 17px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    position: relative;
}

.post .comments .commentbg .mark {
    width: 11px;
    height: 11px;
    background-color: #2c8406;
    position: absolute;
    bottom: 0;
    left: 43%;
    margin-bottom: -5px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* IE 9 */
    -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
}

.post .views {
    border-bottom: solid 1px #f1f1f1;
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;
}

.post .views i {
    font-size: 14px;
}

.post .time {
    color:#9da6aa;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    text-align: center;
    line-height: 29px;

}

.post .time i {
    font-size: 14px;
}







/*-----------------------------------------------------------------*/
/* #02_topic.html - TOPIC */

/*--- Breadcrumb ---*/
.breadcrumbf a , .breadcrumbf {
    color: #bdc3c7;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    line-height: 62px;
}

.breadcrumbf a:hover {
    text-decoration: underline;
}

/*--- Topic ---*/
.topic .userinfo {
    width: 12%;
}

.topic .posttext {
    width: 88%;
}

.postinfobot {
    border-top: solid 1px #f1f1f1;
    line-height: 50px;
    padding: 0 30px 0 94px;
}

.popup{
    opacity:1 !important;
}
.popup.modal.fade
{
    top:10%;
}
.postinfobot .likeblock {
    width: 120px;
    position: relative;
    top: 9px;
    right: 69px;
}

.postinfobot .prev {
    width: 30px;
}

.postinfobot .prev a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .posted {
    width: 300px;
    margin-left: 18px;
    font-size: 12px;
    color: #bdc3c7;
    font-family: 'Open Sans Regular', sans-serif;
}

.postinfobot .posted i {
    font-size: 18px;
    color: #bdc3c7;
    padding-right: 8px;
}

.postinfobot .next {
    width: 90px;
    text-align: right;
}

.postinfobot .next a {
    font-size: 18px;
    color: #bdc3c7;
}

.postinfobot .next a i {
    padding-right: 18px;
}


.beforepagination {
    margin-bottom: 0;
}


/*--- Quote post ---*/
.post blockquote {
    border: solid 1px #f1f1f1;
    border-radius: 2px;
    font-size: 14px;
    padding: 18px;
}

.post blockquote .original,
.postreply {
    font-size: 12px;
    color: #bdc3c7;
    display: block;
    font-family: 'Open Sans Regular', sans-serif;
}

.textwraper textarea {
    border: none;
    box-shadow: none;
    background-color: #f1f1f1;
    /*    width: 610px;*/
    width: 100%;
}

.textwraper {
    background-color: #f1f1f1;
    border-radius: 2px;
    padding:18px;
}

.notechbox {
    width: 20px;
}

.notechbox input {
    width: 12px;
    box-shadow: none;
    margin-top: 8px;
    border-color: #bdc3c7;
}

.notechbox input:active,
.notechbox input:focus,
.notechbox input:hover {
    box-shadow: none;
}

.postinfobot label {
    color: #bdc3c7;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;

}


.smile a {
    margin-right: 20px;
    font-size: 20px;
    color: #bdc3c7;
}



.btn-primary {
    background-color: #1abc9c;
    box-shadow: none;
    border-radius: 2px;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    border: none;

}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    border: none;
    background-color: #20e1bb;
    box-shadow: none;
}



/*-----------------------------------------------------------------*/
/*--- #03_new_topic.html - NEW TOPIC ---*/

.newtopic input[type=text],
.newtopic input[type=password]
{
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif;
    margin-bottom: 20px;
    height: 50px;
}

.newtopic select {
    border-radius: 2px;
    box-shadow: none;
    border: solid 1px #cfd5d7;
    background-color: #ffffff;

    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif;
    margin-bottom: 20px;
    height: 50px;
}

.newtopic select:hover,
.newtopic select:focus,
.newtopic select:active {
    box-shadow: none;
}


.newtopic textarea {
    border-radius: 2px;
    box-shadow: none;
    border: none;
    background-color: #f1f1f1;
    padding: 20px;
    font-size: 14px;
    color: #989c9e;
    font-family: 'Open Sans Light', sans-serif;
    margin-bottom: 20px;
    height: 150px;
}

.newtopic textarea:hover,
.newtopic textarea:focus,
.newtopic textarea:active {
    box-shadow: none;
}

.newtopic p {
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
}


.newtopcheckbox input {
    margin-top: 5px;
    width: 18px;
    height: 18px;

    /*    width: 18px;
        box-shadow: none;
        margin-top: 8px;
        border-color: #bdc3c7;*/

}

.checkbox input {
    margin-right: 7px;
}

.checkbox .fa-facebook-square {
    color: #3b5b99;
    font-size: 20px;
    margin-top: 4px;
}

.checkbox .fa-google-plus-square {
    color: #e74724;
    font-size: 20px;
    margin-top: 4px;
}

.checkbox .fa-twitter {
    color: #42c8f4;
    font-size: 20px;
    margin-top: 4px;
}

.loading {
    text-align: right;
}

.similarposts {
    /*    height: 57px;*/
    margin-bottom: 20px;

}

.similarposts p {
    display: inline;
    color: #bdc3c7;
}
.similarposts p span {
    color: #363838;
}

.similarposts .fa-info-circle {
    font-size: 18px;
    color: #3498db;
    margin-right: 10px;
}

.similarposts .fa-spinner {
    font-size: 18px;
    color: #363838;
}

.postinfotop h2 {
    color: #363838;
    font-size: 14px;
    font-family: 'Open Sans Bold', sans-serif;
    padding: 20px;
    margin: 0;
    border-bottom: solid 1px #f1f1f1;
}



/*-----------------------------------------------------------------*/
/*--- #04_new_account.html - NEW ACCOUNT ---*/

.acccap h3 {
    padding: 7px;
    margin: 0;
    border-radius: 2px;
    background-color: #697683;
    display: inline-block;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;


}

.acccap .posttext {
    padding-bottom: 0;
}

.acccap .userinfo {
    padding-top: 0;
    padding-bottom: 0;
}

.accsection.privacy h3 {
    background-color: #9b59b6;
}

.accsection.privacy .posttext {
    padding: 0;
    padding-top: 20px;
}

.accsection.privacy p {
    margin-bottom: 0;
}

.accsection.privacy .checkbox {
    margin: 20px 0 10px 0;
}

.accsection.survey h3 {
    background-color: #e67e22;
}

.accsection.networks h3 {
    background-color: #80d3ab;

}

.accsection .htext {
    width: 40%;
    float: left;
}

.accsection .hnotice {
    width: 60%;
    float: left;
    text-align: right;
}

.networks .btn {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
    text-align: left;
}

.networks .btn-fb {
    background-color: #3b5b99;
}

.networks .btn-tw {
    background-color: #42c8f4;
}

.networks .btn-gp {
    background-color: #cd3d1e;
}

.networks .btn-pin {
    background-color: #bd1425;
}

.newaccountpage .postinfobot {

    padding: 0 30px 0 115px;

}


.accsection .imgsize {
    color:#989c9e;
    font-size: 12px;
    font-family: 'Open Sans Regular', sans-serif;
    margin: 10px 0;
}

.accsection input[type=password] {
    margin-bottom: 0;
}


/*-----------------------------------------------------------------*/
/*--- Extra small devices (less 767px) ---*/

@media (max-width: 767px) {

    /*--- index.html ---*/
    .container-fluid {
        padding: 40px;
    }

    .post .userinfo {
        width: 30%;
        padding: 15px 0 15px 15px;
    }

    .post .posttext {
        width: 70%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post .comments .commentbg {
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i {
        display: block;
        margin-top: 5px;
    }

    .post .views i {
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark {
        left: 36%;
    }

    .post .time,
    .post .views,
    .post .views {
    }


    .headernav {
        height: auto;
    }

    .avt {
        height: auto;
        margin-bottom: 15px;
    }

    .selecttopic select {
        width: 100%;
    }

    .avatar .dropdown-menu {
        left: auto;
        right: 0;
    }

    .selecttopic .dropdown-menu {
        margin-top: -20px;
    }

    .dropdown.avatar .status {
        right: 14px;
    }

    .dropdown.avatar b.caret {
        color: #363838;
    }

    .sociconcent {
        text-align: center;
    }

    /*--- 02_topic.html ---*/

    .postinfobot {
        padding: 10px;
    }

    .postinfobot .likeblock {
        width: 100%;
    }

    .postinfobot .posted {
        width: 200px;
        margin: 0;
    }

    .postinfobot .next {
        width: 76px;
        margin: 0;
    }

    .textwraper textarea {
        width: 175px;
    }

    footer ul.socialicons {
        margin: 0;
        padding: 0;
    }
    /* end 2*/

    /*--- 03_new_topic.html ---*/
    #pass {
        margin-bottom: 20px;
    }

    .accsection .htext,
    .accsection .hnotice {
        width: 100%;
    }

    .accsection .hnotice {
        font-size: 10px;
    }

    .postinfobot .lblfch {
        width: 80%;
    }
    .postinfobot .lblfch label {
        line-height: normal;
        padding-top: 15px;
        padding-bottom: 15px;

    }
    /* end 3 */
}


/*-----------------------------------------------------------------*/
/*--- Small devices (768 - 991px) ---*/

@media (min-width: 768px) and (max-width: 991px) {

    .container-fluid {
        padding: 0;
    }

    .post .userinfo {
        width: 15%;
        padding: 15px 0 15px 15px;
    }

    .post .posttext {
        width: 85%;
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .post .comments .commentbg {
        font-size: 12px;
        padding: 7px;
        min-width: 35px;
    }
    .post .time i {
        display: block;
        margin-top: 5px;
    }

    .post .views i {
        display: block;
        margin-top: 5px;
    }

    .post .comments .commentbg .mark {
        left: 36%;
    }

    .headernav {
        height: auto;
    }

    .avt {
        height: auto;
        margin-bottom: 15px;
    }

    .selecttopic select {
        width: 100%;
    }

    .avatar .dropdown-menu {
        left: auto;
        right: 0;
    }

    .selecttopic .dropdown-menu {
        margin-top: -20px;
    }

    .dropdown.avatar .status {
        right: 14px;
    }

    .dropdown.avatar b.caret {
        color: #363838;
    }

}


/*-----------------------------------------------------------------*/
/*--- Medium devices (992-1200px) ---*/
@media (min-width: 800px) and (max-width: 825px) {
    .container-fluid {
        padding: 0;
    }

    .headernav .search .txt {
        width: 75%;
    }

    .avatar .dropdown-menu {
        left: auto;
        right: 0;
    }
    ul.socialicons {
        margin-bottom: 0;
    }

    /* 2 */
    .textwraper textarea {

        width: 100%;
    }
    /* end 2 */
}


/*-----------------------------------------------------------------*/
/*--- Large devices (more 1200px) ---*/
@media (min-width: 800) {
    .container-fluid {
        padding: 0;
    }

    .container {
        padding: 0;
    }
}

/* component */

.star-rating {
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content:space-around;
    padding:0 .2em;
    text-align:center;
    width:4em;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
}

.star-rating :checked ~ label {
    color: #1c94c4;
;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#05abe0;
}


/*##########################################################################################"*/

.wrapper {
    width: 100%;

}

.list-filter {
    background: #fff;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
}
.list-filter > span {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}
.list-filter > span, .list-filter a {
    padding: 8px 16px;
    display: inline-block;
}
.list-filter a {
    color: #000;
    line-height: 1.5;
}
.list-filter a span {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 0px 4px;
    margin-left: 4px;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 600;
}
.list-filter a:hover, .list-filter a.filter-active {
    transition: background-color 0.3s;
    background-color: #385989;
    color:white;
    font-weight:bold;
}
.list-filter a:hover span, .list-filter a.filter-active span {
    background-color: #1db954;
    color: #fff;
}


/*######################################################################*/


.main-content {
    height: 800px;
    width: 1000px;
    margin: 0 auto;
}

.overlay-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    z-index: 1000; /* high z-index */
    background: #000; /* fallback */
    background: rgba(0,0,0,0.75);
}
.overlay-content {
    background: #fff;
    padding: 1%;
    width: 40%;
    position: relative;
    top: 15%;
    left: 50%;
    margin: 0 0 0 -20%; /* add negative left margin for half the width to center the div */
    cursor: default;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.9);
}

.close-btn {
    cursor: pointer;
    border: 1px solid #333;
    padding: 2% 5%;
    background: #a9e7f9; /* fallback */
    background: -moz-linear-gradient(top,  #a9e7f9 0%, #77d3ef 4%, #05abe0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9e7f9), color-stop(4%,#77d3ef), color-stop(100%,#05abe0));
    background: -webkit-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    background: -o-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    background: -ms-linear-gradient(top,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    background: linear-gradient(to bottom,  #a9e7f9 0%,#77d3ef 4%,#05abe0 100%);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.close-btn:hover {
    background: #05abe0;
}

/* media query for most mobile devices */
@media only screen and (min-width: 0px) and (max-width: 480px){

    .overlay-content {
        width: 96%;
        margin: 0 2%;
        left: 0;
    }
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
span.stars, span.stars span {
    display: block;
    /* Download the star image here: http://stackoverflow.com/questions/1987524/turn-a-number-into-star-rating-display-using-jquery-and-css */
    background: url('https://apppresser.com/wp-content/uploads/2015/11/stars.png') 0 -16px repeat-x;
    width: 82px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}

.alignright {
    float:right;
}